<% @post.comments.each do |comment|%>
	<div id="comment_content" class="">
		<h1 class="title"><%= comment.name %></h1>
		<p class="date">
			Submitted <%= time_ago_in_words(comment.created_at) %> Ago
			<% if user_signed_in? %>
				<p>
				<% if comment.status == "accepted" %>
					<%= link_to 'Deny', change_status_post_comment_path(comment.post, comment, status: "denied"), method: :patch, class: "button" if my_comment?(current_user, comment.user_id) && comment_time_past?(comment) %>
				<% else  %>								
					<%= link_to 'Accept', change_status_post_comment_path(comment.post, comment, status: "accepted"), method: :patch, class: "button" if my_comment?(current_user, comment.user_id) && comment_time_past?(comment) %>
				<% end %>
				</p>
			<% end %>
		</p>
	</div>
<% end %>